.heroo{
    height: 100vh;
}
.link{
    color: red;
}

.button{
    border-radius: 12px;
    background:rgba(163, 221, 255, 0.904);
    padding:10px;
    border: none;
    transition: 0.2s ease-out;
}
.button:hover{
    background:rgba(151, 117, 243, 0.3);
    box-shadow: 10px 7px #e3e3e3;
}

.colour1{
    background: url('./img/okinawa.PNG');
    background-size:100% ;
    background-repeat:no-repeat;
    background-position:center ;
}
.colour2{
    background: url('./img/RV400-1.png');
    background-size:100% ;
    background-repeat:no-repeat;
    background-position:center ;

}
.colour3{
    background: url('./img/battre.png');
    background-size:100% ;
    background-repeat:no-repeat;
    background-position:center ;

}
.colour4{
    background: url('./img/grey.png');
    background-size:100% ;
    background-repeat:no-repeat;
    background-position:center ;

}